body
{
   background-color: #DCDCDC;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F8F9FA;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4
{
   flex: 0 0 auto;
   height: 77px;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 10px 10px;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4
{
   flex-basis: 100% !important;
   max-width: 100% !important;
   height: auto;
}
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #4F4F4F;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   line-height: 57px;
   vertical-align: top;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   display:inline-block;
   position:relative;
}
#wb_Icon1 a
{
   text-decoration: none;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Icon1
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#Icon1
{
   fill: #000000;
   display: inline-block;
   font-size: 23px;
   vertical-align: middle;
}
#wb_Icon1:hover #Icon1
{
   fill: #000000;
}
#HorizontalLine1
{
   border-color: #A9A9A9;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0 0 0 20px;
   padding: 0;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   transform: rotate(180deg);
}
#FlexContainer1
{
   display: flex;
   position: absolute;
   padding: 10px 0 10px 30px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: flex-end;
   align-content: flex-end;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#FlexContainer2
{
   display: flex;
   position: absolute;
   height: 77px;
   padding: 10px 0 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#ConfirmLayer
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#ConfirmDetailtLayer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 6px;
   box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
}
#BankLayer
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#AccountName
{
   line-height: 20px;
   margin: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#AccountName:focus
{
   outline: 0;
}
#SwiftCode
{
   line-height: 20px;
   margin: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#SwiftCode:focus
{
   outline: 0;
}
#Iban
{
   line-height: 20px;
   margin: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Iban:focus
{
   outline: 0;
}
#BankName
{
   line-height: 20px;
   margin: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#BankName:focus
{
   outline: 0;
}
#SortCode
{
   line-height: 20px;
   margin: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#SortCode:focus
{
   outline: 0;
}
#AccountNameLabel
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#AccountNameLabel:focus
{
   outline: 0;
}
#SwiftCodeLabel
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#SwiftCodeLabel:focus
{
   outline: 0;
}
#IbanLabel
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#IbanLabel:focus
{
   outline: 0;
}
#BankAddressLabel
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#BankAddressLabel:focus
{
   outline: 0;
}
#BankNameLabel
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#BankNameLabel:focus
{
   outline: 0;
}
#SortCodeLabel
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#SortCodeLabel:focus
{
   outline: 0;
}
#WithProBut
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#WithProBut .ui-button
{
   position: absolute;
   padding: 0;
}
#WithProBut.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#WithProBut.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#WithProBut.ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 0px solid #0D6EFD;
   color: #FFFFFF;
}
#WithProBut.ui-state-hover, #WithProBut.ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#WithProBut.ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#WithProBut.ui-state-active, #WithProBut.ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#ConfirmBack
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   box-shadow: 0px 0px 9px #000000;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ConfirmBack .ui-button
{
   position: absolute;
   padding: 0;
}
#ConfirmBack .ui-primary
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%2060%2060%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M52%2010%20C53%209%2c%2053%208%2c%2053%207%20L53%207%20L53%207%20C53%206%2c%2052%206%2c%2052%205%20C51%204%2c%2050%204%2c%2049%204%20C48%204%2c%2047%205%2c%2046%205%20L30%2024%20L30%2024%20L15%205%20L15%205%20C14%205%2c%2013%204%2c%2012%204%20C11%204%2c%2010%204%2c%209%205%20C9%206%2c%208%206%2c%208%207%20C8%208%2c%208%209%2c%209%2010%20L26%2030%20L26%2030%20L9%2050%20L9%2050%20C8%2051%2c%208%2052%2c%208%2053%20C8%2054%2c%209%2055%2c%209%2056%20C10%2056%2c%2011%2057%2c%2012%2057%20C13%2056%2c%2014%2056%2c%2015%2055%20L30%2036%20L30%2036%20L46%2055%20L46%2055%20C47%2056%2c%2048%2056%2c%2049%2057%20C50%2057%2c%2051%2056%2c%2052%2056%20C52%2055%2c%2053%2054%2c%2053%2053%20C53%2052%2c%2053%2051%2c%2052%2050%20L35%2030%20L35%2030%20L52%2010Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
   display: inline-block;
   overflow: visible;
   position: absolute;
   left: 10px;
   margin: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 15px;
   height: 15px;
}
#ConfirmBack:hover .ui-primary
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%2060%2060%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M52%2010%20C53%209%2c%2053%208%2c%2053%207%20L53%207%20L53%207%20C53%206%2c%2052%206%2c%2052%205%20C51%204%2c%2050%204%2c%2049%204%20C48%204%2c%2047%205%2c%2046%205%20L30%2024%20L30%2024%20L15%205%20L15%205%20C14%205%2c%2013%204%2c%2012%204%20C11%204%2c%2010%204%2c%209%205%20C9%206%2c%208%206%2c%208%207%20C8%208%2c%208%209%2c%209%2010%20L26%2030%20L26%2030%20L9%2050%20L9%2050%20C8%2051%2c%208%2052%2c%208%2053%20C8%2054%2c%209%2055%2c%209%2056%20C10%2056%2c%2011%2057%2c%2012%2057%20C13%2056%2c%2014%2056%2c%2015%2055%20L30%2036%20L30%2036%20L46%2055%20L46%2055%20C47%2056%2c%2048%2056%2c%2049%2057%20C50%2057%2c%2051%2056%2c%2052%2056%20C52%2055%2c%2053%2054%2c%2053%2053%20C53%2052%2c%2053%2051%2c%2052%2050%20L35%2030%20L35%2030%20L52%2010Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#ConfirmBack:active .ui-primary
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%2060%2060%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M52%2010%20C53%209%2c%2053%208%2c%2053%207%20L53%207%20L53%207%20C53%206%2c%2052%206%2c%2052%205%20C51%204%2c%2050%204%2c%2049%204%20C48%204%2c%2047%205%2c%2046%205%20L30%2024%20L30%2024%20L15%205%20L15%205%20C14%205%2c%2013%204%2c%2012%204%20C11%204%2c%2010%204%2c%209%205%20C9%206%2c%208%206%2c%208%207%20C8%208%2c%208%209%2c%209%2010%20L26%2030%20L26%2030%20L9%2050%20L9%2050%20C8%2051%2c%208%2052%2c%208%2053%20C8%2054%2c%209%2055%2c%209%2056%20C10%2056%2c%2011%2057%2c%2012%2057%20C13%2056%2c%2014%2056%2c%2015%2055%20L30%2036%20L30%2036%20L46%2055%20L46%2055%20C47%2056%2c%2048%2056%2c%2049%2057%20C50%2057%2c%2051%2056%2c%2052%2056%20C52%2055%2c%2053%2054%2c%2053%2053%20C53%2052%2c%2053%2051%2c%2052%2050%20L35%2030%20L35%2030%20L52%2010Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#ConfirmBack.ui-corner-all
{
   border-bottom-left-radius: 50px;
   border-top-left-radius: 50px;
}
#ConfirmBack.ui-corner-all
{
   border-bottom-right-radius: 50px;
   border-top-right-radius: 50px;
}
#ConfirmBack.ui-button
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #0B5ED7;
   color: #FFFFFF;
}
#ConfirmBack.ui-state-hover, #ConfirmBack.ui-button:hover
{
   border-color: #0A58CA;
   background-color: #A9A9A9;
   background-image: none;
   color: #FFFFFF;
}
#ConfirmBack.ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#ConfirmBack.ui-state-active, #ConfirmBack.ui-button:active
{
   border-color: #0A53BE;
   background-color: #FFFFFF;
   background-image: none;
   color: #FFFFFF;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
