@font-face
{
   font-family: "Linea Arrows";
   font-display: swap;
   src: url('linea-arrows-10.woff') format('woff'),
        url('linea-arrows-10.ttf') format('truetype'),
        url('linea-arrows-10.svg#linea-arrows-10') format('svg'),
        url('linea-arrows-10.eot') format('embedded-opentype');
}
@font-face
{
   font-family: "Bootstrap Icons";
   font-display: swap;
   src: url('bootstrap-icons.woff2') format('woff2'),
        url('bootstrap-icons.woff') format('woff'),
        url('bootstrap-icons.ttf') format('truetype');
}
@font-face
{
   font-family: "Material Icons";
   font-display: swap;
   src: url('MaterialIcons-Regular.woff2') format('woff2'),
        url('MaterialIcons-Regular.woff') format('woff'),
        url('MaterialIcons-Regular.ttf') format('truetype');
}
@font-face
{
   font-family: "Linea Arrows";
   font-display: swap;
   src: url('linea-arrows-10.woff') format('woff'),
        url('linea-arrows-10.ttf') format('truetype'),
        url('linea-arrows-10.svg#linea-arrows-10') format('svg'),
        url('linea-arrows-10.eot') format('embedded-opentype');
}
@font-face
{
   font-family: "Bootstrap Icons";
   font-display: swap;
   src: url('bootstrap-icons.woff2') format('woff2'),
        url('bootstrap-icons.woff') format('woff'),
        url('bootstrap-icons.ttf') format('truetype');
}
@font-face
{
   font-family: "Material Icons";
   font-display: swap;
   src: url('MaterialIcons-Regular.woff2') format('woff2'),
        url('MaterialIcons-Regular.woff') format('woff'),
        url('MaterialIcons-Regular.ttf') format('truetype');
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
.style1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   text-align: center;
   text-decoration: none;
   color: #FF0000;
   --color: #FF0000;
   background-color: transparent;
   padding: 5px 5px 5px 5px;
   --color: #FF0000;
   margin-bottom: 10px;
   display: none;
}
